%div.container
  %aside.col-mid-4
    %section
      %h1
        = @user.name
      %h3
        email:
        = @user.email
      %table.table
        %thead
          %tr
            %th
              plan type
            %th
              number of members
            %th
              date
            %th
              bookings
            %th

        %tbody
          - @user.orders.each do |order|
            %tr
              %td
                = order.plan_type
              %td
                = order.member_num
              %td
                = order.start_date
                = "~"
                = order.end_date
              %td
                - if order.plan_type == 'normal'
                  = link_to 'show bookings', user_order_bookings_path(user_id: @user.id, order_id: order.id)
                - else
                  = "-"
              %td
                = button_to "delete", user_order_path(@user.id,order.id), data: { confirm: "really delete?"}, :method => :delete, class: "btn btn-danger"
