%div.container
  %h2
    %strong
      Book Now!!
  %ul.nav.nav-tabs
    %li.nav-item.active
      %a.nav-link.bg-primary{href: "#normal", data: {toggle: "tab"}}
        normal plan
    %li.nav-item
      %a.nav-link.bg-primary{href: "#exclusive", data: {toggle: "tab"}}
        exclusive plan

  %div.tab-content
    %div.tab-pane.active{id: "normal"}
      = form_for [current_user, @order] do |f|
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :plan_type, value: "normal"
        = f.nested_fields_for :bookings do |ff|
          .form-group
            = ff.label :restaurant_name, "where to book?" , class: "control-label"
            = ff.text_field :restaurant_name, class: "form-control"
          .form-group
            = ff.label :member_num, "number of member" , class: "control-label"
            = ff.number_field :member_num, class: "form-control"
          .form-group
            = ff.label :description, "note" , class: "control-label"
            = ff.text_area :description, class: "form-control"
          .form-group
            = ff.label :date, "date" , class: "control-label"
            %br
            = ff.datetime_select :date, class: "form-control"
          %div.rightBtn
            = ff.remove_nested_fields_link 'Delete', class: "btn btn-danger"
        %br
        = f.add_nested_fields_link :bookings, 'Add new', class: "btn btn-primary rightBtn"
        %br
        %br
        = f.submit 'submit', class: "btn btn-primary"
    %div.tab-pane{id: "exclusive"}
      = form_for [current_user, @order] do |f|
        .form-group
          = f.label :start_date, "travel period" , class: "control-label"
          %br
          = f.date_select :start_date, class: "form-control"
          = "~"
          = f.date_select :end_date, class: "form-control"
        .form-group
          = f.label :member_num, "number of member" , class: "control-label"
          = f.number_field :member_num, class: "form-control"
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :plan_type, value: "exclusive"
        = f.submit 'submit', class: "btn btn-primary"
