%div.container
  %div.navbar.navbar-default{role: "navigation"}
    %div.navbar-haeder
      %button.navbar-toggle{type: :button, data: {toggle: "collapse", target: ".navbar-collapse"}}
      %span.sr-only menu
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
      = link_to 'LOCODINE', root_path, class: 'navbar-brand'
    %div.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Booking Procedures', static_pages_procedure_path
        - if user_signed_in?
          %li
            = link_to 'Book Now', new_user_order_path(current_user.id)
        - else
          %li
            = link_to 'Book Now', '#'
        %li
          = link_to 'About', static_pages_about_path
        %li
          = link_to 'Contact US', inquiry_index_path
        - if user_signed_in?
          %li
            = link_to 'My page', current_user
          %li.signup
            = link_to 'Log Out', destroy_user_session_path, method: :delete
        - else
          %li.signup
            = link_to 'Log In', new_user_session_path
          %li.signup
            = link_to 'SIGNUP NOW', new_user_registration_path
