%html
%head
  %titleJinnyApp
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
= render partial: "layouts/header"
%div.container
  = if notice
    %p.notice
      = notice
  = if alert
    %p.alert
      = alert
= yield
= render partial: "layouts/footer"
